repos:

  - repo: local
    hooks:
      - id: tflint-setup
        always_run: true
        args:
          - setup
        entry: ./scripts/tflint-support.sh
        language: system
        name: Setup before TFLint
        pass_filenames: false
        stages: [pre-commit]

  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.101.0
    hooks:
      - id: terraform_tflint
        stages: [pre-commit]
      - id: terraform_fmt
        stages: [pre-commit]
      - id: terraform_validate
        exclude: |
          (?x)(
            ^.terraform/|
            ^validate/
          )
        stages: [pre-commit]
      - id: terraform_docs
        args:
          - --hook-config=--path-to-file=README.md
          - --hook-config=--add-to-existing-file=true
          - --hook-config=--create-file-if-not-exist=true
        stages: [pre-commit]

  - repo: local
    hooks:
      - id: tflint-teardown
        always_run: true
        args:
          - teardown
        entry: ./scripts/tflint-support.sh
        name: Teardown after TFLint
        language: system
        pass_filenames: false
        stages: [pre-commit]

  - repo: local
    hooks:
      - id: check-changelog-updated
        always_run: true
        entry: ./scripts/terraform-module-support.sh
        files: CHANGELOG.md
        language: system
        name: Check if CHANGELOG.md is updated before push
        stages: [pre-push]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
        stages: [pre-commit]
      - id: check-executables-have-shebangs
        stages: [pre-commit]
      - id: check-json
        stages: [pre-commit]
      - id: check-merge-conflict
        stages: [pre-commit]
      - id: check-symlinks
        stages: [pre-commit]
      - id: check-yaml
        stages: [pre-commit]
      - id: detect-aws-credentials
        args:
          - --allow-missing-credentials
        stages: [pre-commit]
      - id: detect-private-key
        stages: [pre-commit]
      - id: end-of-file-fixer
        stages: [pre-commit]
      - id: fix-byte-order-marker
        stages: [pre-commit]
      - id: pretty-format-json
        args:
          - --autofix
          - --indent=2
          - --no-sort-keys
        files: .*\.json$
        stages: [pre-commit]
      - id: trailing-whitespace
        args:
          - --markdown-linebreak-ext=md
        stages: [pre-commit]

  - repo: https://github.com/jumanjihouse/pre-commit-hook-yamlfmt
    rev: 0.2.3
    hooks:
      - id: yamlfmt
        args:
          - --implicit_start
          - --preserve-quotes
          - --mapping=2
          - --offset=2
          - --sequence=4
          - --width=300
        stages: [pre-commit]

  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.28.0
    hooks:
      - id: gitleaks
        stages: [pre-commit]
